@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  font-size: 16px;
  font-family: 'Open Sans';
  
  --main-hue: 250;
  --main-saturation: 100%;
  --main-lightness: 72%;
  --main-alpha: 1;
  
  --main-color: hsl(
    var(--main-hue),
    var(--main-saturation),
    var(--main-lightness)
  );
}

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald;
}

code, samp, time {
  --main-alpha: .1;
  
  background: hsla(
    var(--main-hue),
    var(--main-saturation),
    var(--main-lightness),
    var(--main-alpha)
  );
  
  color: var(--main-color);
  padding: 2.5px 5px;
  border-radius: 0;
  font-size: 1em;
}


blockquote > p {
  margin: 0;
}

blockquote::before {
  font-family: monospace;
  content: ">";
  display: block;
  color: var(--main-color);
  position: absolute;
  top: 1.5rem;
  left: 0;
}

blockquote {
  margin: 1.5em 0em;
  padding: 1.5rem 1rem 1.5rem 2rem;
  border-block: 1px solid var(--main-color);
  position: relative;
}

blockquote cite {
  margin-block-start: 1rem;
  display: block;
}

blockquote cite::before {
  content: '—';
  display: inline-block;
  margin-inline-end: 1rem;
}

ul, ol {
  list-style: none;
}

ol {
  counter-reset: li;
}

li {
  position: relative;
}

ol li {
  counter-increment: li;
}

ol li::before,
ul li::before {
  color: var(--main-color);
  font-family: 'Fira Code', monospace;
  text-align: end;
  position: absolute;
  right: calc(100% + .4rem);
}

ol li::before {
  content: counter(li);
}

ul li::before {
  content: '-';
}

td, th {
  border: 1px dashed var(--main-color);
  padding: .5rem 1rem;
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
}

mark {
  --main-alpha: 0.8;
  background-color: hsla(
    var(--main-hue),
    var(--main-saturation),
    var(--main-lightness),
    var(--main-alpha)
  );
  border-radius: 0;
}

.article-title {
  position: relative;
  margin: 0.3rem 0 1.5rem 0;
  padding-block-end: 1rem;
}

.article-title, .article-title::after {
  border-block-end: 4px dotted var(--main-color);
}

.article-title::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -11px;
  width: 100%;
}

.article-info {
  --main-alpha: .7;
  
  font-family: 'Fira Code', monospace;
  color: hsla( var(--main-hue), var(--main-saturation), var(--main-lightness), var(--main-alpha) );
  margin-block-end: 0.5rem;
}

.article-info time {
  background-color: initial;
  color: inherit;
  padding: 0;
}

.header {
  display: grid;
  grid-template-columns: 60px 1fr;
  place-items: center;
}

.menu-container {
  place-self: center flex-end;
}

.is-horizontal-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  
  display: flex;
}

ul.without-list-style,
ol.without-list-style {
  list-style: none;
}

ul.without-list-style li::before,
ol.without-list-style li::before {
  content: none;
}

.is-horizontal-list li::before {
  content: '';
}

.menu-item:not(:last-child) {
  margin-inline-end: 1rem;
}

.search-input {
  padding: 0.5rem;
  margin: 0;
}

.is-has-max-width {
  max-width: 800px;
  margin: 0 auto;
}

.tag-item:not(:last-child) {
  margin-inline-end: .5rem;
}

.tag-list {
  flex-wrap: wrap;
}

.tag-list li:not(:last-child) {
  margin-inline-end: 0.5rem;
}

.article-list,
.project-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.article-list time,
 time {
  border-radius: 0;
  background-color: initial;
  padding: 0;
  color: var(--text-main);
  font-family: monospace;
}

.article-list .separator,
.talk-list .separator {
  display: inline-block;
  margin-inline-end: 0.3rem;
}

.footer {
  border: none;
  padding-top: 0;
}

.article-tag-list {
  --links: hsl(0, 0%, 48.6%);
}

.article-tag-list li {
  margin-inline-end: 1rem;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  border: 1px solid #302d3f;
  background: transparent;
}
